.blockMain {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    /*height: 60px;*/
    /*background: #ebe0e9;*/
}
.blockComponents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #86f75e 0%, #228427 100%)
}

.content {
    /*border-radius: 10px;*/
    /*background-color: white;*/
    /*width: 350px;*/
    /*min-height: 470px;*/
}