 .wrapperModal{
     position: fixed;
     bottom: 0;
     background: rgba(0,0,0, .2);
     backdrop-filter: blur(10px);
 }
 .open{
     height: 100%;
     display: block;
 }
 .close{
     height: 0;
     display: none;
 }
 .modalBody{
     max-width: 500px;
     margin: auto;
     background: white;
     margin-top: 5%;
     padding: 20px;
     border-radius: 10px;
     max-height: 400px;
     overflow-y: scroll;
 }
 .modalBody::-webkit-scrollbar {
     width: 0;
     background: transparent;
 }
 .modalClose{
     text-align: right;
     margin-top: -15px;
     font-size: 40px;
     color: gray;
     cursor: pointer;
 }
